body {
    text-align: center;
    align-items: center;
}


.grid {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}

.grid div {
    width: 40px;
    height: 40px;
}

.shooter {
    width: 40px;
    height: 40px;
    background-color: red;
}

.laser {
    background-color: green;
}



.invader {

    background-image: url("img/invader.jpg");
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
}