body {
    text-align: center;
    align-items: center;
    background-color: yellow;
    background-image: url(img/Background.jpg);
}

body h1 {
    font-size: 68px;
    font-weight: bolder;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.scores {
    color: white;
    display: flex;
    justify-content: center;
}

.scores h3 {
    margin: 20px;
    font-size: 50px;
    font-weight: bolder;
    color: blue;
}
h1 {
    font-size: 68px;
    font-weight: bold;
    color: white;
}

.grid {
    width: 600px;
    height: 600px;
    border: 8px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}

.grid div {
    width: 40px;
    height: 40px;
}

.shooter {
    width: 40px;
    height: 40px;
    background-color: red;
    background-image:url("img/shooter.png") ;
    background-size: cover;
}

.laser {
    background-image:url("img/dot.jpg") ;
    background-size: cover;
    
}

.invader {

    background-image: url("img/invader.jpg");
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
}