body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    width: 400px;
    height: 600px;
    background-color: yellow;
    position: relative;
    font-size: 200px;
    text-align: center;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
    position: absolute;
    width: 40px;
    height: 40px;
}


.platform {
    width: 40px;
    height: 40px;
    background-color: green;
    position: absolute;
}